@import "./responsive.scss";

.layout {
  height: 100vh;
  max-width: 1280px;     // perfect desktop container size
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @include xxl {
    max-width: 1280px;
  }

  @include xl {
    max-width: 1024px;
  }

  @include lg {
    max-width: 768px;
  }

  @include md {
    max-width: 640px;
  }

  @include sm {
    max-width: 100%;
  }

  .content{
    flex: 1;
  }

}
