@import "../../responsive.scss";

.listPage{
    display: flex;
    height: 100%;

    .list{
        flex: 3;
        height: 100%;

        .wrapper{
            padding-right: 10px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            height: 100%;
            overflow-y: scroll;
            padding-bottom: 50px;
        }
    }

    .map{
        flex: 2;
        height: 100%;
        background-color: #fff9e6;
    }
}