.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;

  .messages {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;

    h1 {
      font-weight: 300;
    }

    .message {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;


      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      span{
        font-weight: bold;
      }
    }
  }

  .chatBox {
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top{
        background-color: #FFE28A;
        padding: 10px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;

            img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .close{
            cursor: pointer;
        }
    }

    .center{
        overflow-y: scroll;
        height: 350px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .chatMessage{
            width: 50%;

            &.own{
                align-self: flex-end;
                text-align: right;
            }

            span{
                font-size: 10px;
                background-color: #FFE28A;
                padding: 2px;
                border-radius: 5px;
            }
        }
    }

    .bottom{
        border-top: 2px solid #FFE28A;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        textarea{
            flex: 3;
            height: 100%;
            border: none;
            padding: 10px;
        }

        button{
            flex: 1;
            background-color: #FFE28A;
            height: 100%;
            border: none;
            cursor: pointer;
        }
    }
  }
}
