@import "../../responsive.scss";

.specifics{
    display: flex;
    height: 100%;
    overflow-y: scroll;

    @include sm{
        flex-direction: column;
    }

    @include md{
        flex-direction: column;
    }

    .details{
        flex: 3;

        .wrapper{
            padding-right: 10px;
            padding-bottom: 40px;

            .info{
                margin-top: 50px;
                .top{
                    display: flex;
                    justify-content: space-between;

                    .post{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        h1{
                            font-weight: 400;
                        }

                        .address{
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            color: #888;
                            font-size: 14px;

                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }

                        .price{
                            background-color: #FFE28A;
                            padding: 5px;
                            border-radius: 5px;
                            width: max-content;
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }

                    .user{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        padding: 10px 20px;
                        background-color: #FFE28A;
                        font-weight: 600;
                        height: max-content;
                        border-radius: 10px;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                }

                .bottom{
                    margin-top: 50px;
                    color: #555;
                    line-height: 20px;
                }
            }
        }
    }

    .features{
        flex: 2;
        background-color: #fff9e6;
        height: max-content;
        padding: 10px;

        .wrapper{
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            img{
                width: 24px;
                height: 24px;
            }

            .title{
                font-weight: bold;
                font-size: 18px;
            }

            .feature{
                display: flex;
                align-items: center;
                gap: 10px;

                .text{
                    span{
                        font-weight: bold;
                         font-size: 14px;
                    }

                    p{
                        font-size: 10px;
                    }
                }
            }

            .listVertical{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px 5px;
                background-color: white;
                border-radius: 10px;
            }

            .listHorizontal{
                display: flex;
                justify-content: space-between;
                padding: 10px 5px;
                background-color: white;
                border-radius: 10px;
            }

            .sizes{
                display: flex;
                justify-content: space-between;

                .size{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background-color: white;
                    border-radius: 5px;
                }
            }

            .map{
                width: 100%;
                height: 200px;
            }

            .buttons{
                display: flex;
                justify-content: space-between;

                button{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background-color: white;
                    border: 1px solid #ffbf00;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-top: 20px;

                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}